<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en" >

<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href= https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css>
</head>
<script th:if="${hasError != null}">
    $(function () {
        $('#myModal').modal('show');
    });
</script>

<body>
<div class = 'row'>
    <div class = 'col-2'>
        <div class="nav flex-column nav-pills" role="tablist">
            <a class="nav-link active" href="/admin" >Admin</a>
            <a class="nav-link" href="/user" >User</a>
        </div>
    </div>

    <div class = 'col-8'><div class="tab-content" id="myTabContent">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users Table</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <h4>All users</h4>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                <tableBody>

                <script>
                    $(document).ready(function(){
                        alert("1");
                        var data = $("#user").val();
                        alert("2");
                        $.ajax({
                            url: '/rest/adminrest',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                var trHTML = '';
                                $.each(response, function (i, item) {
                                    trHTML += '<tr>' +
                                        '<td>' + item.id + '</td>' +
                                        '<td>' + item.login + '</td>' +
                                        '<td>' + item.password +'</td>' +
                                        '<td>' + item.roles[0].name + '</td>' +
                                        '</tr>';
                                });
                                $('#table').append(trHTML);
                            }
                        });
                    });
                </script>
                </tableBody>
<!--                <tr th:each="user : ${users}">-->
<!--                    <td th:text="${user.id}"></td>-->
<!--                    <td th:text="${user.login}"></td>-->
<!--                    <td th:text="${user.password}"></td>-->
<!--                    <td th:text="${user.roles}"></td>-->
<!--                    <td><a th:href="@{/admin/delete/{id}(id=${user.id})}" class="btn btn-info btn-lg"></a>Delete</td>-->
<!--                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" th:attrappend="data-target=${user.id}">Edit </button>-->
<!--                    &lt;!&ndash;                            <div class="modal fade" id="myModal" role="dialog" th:attrappend="id=${user.id}">&ndash;&gt;-->
<!--                    <div class="modal-dialog">-->
<!--                        &lt;!&ndash; Modal content&ndash;&gt;-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                &lt;!&ndash;Form code start from here  &ndash;&gt;-->
<!--                                &lt;!&ndash; Form Name &ndash;&gt;-->
<!--                                <legend>Edit user </legend>-->
<!--                                <form action="/doUpdate" method="POST" class="form-group mt-0 pt-1">-->
<!--                                    &lt;!&ndash; Text input&ndash;&gt;-->
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-md-4 control-label" for="id">ID</label>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <input id="id" name="id" type="text" placeholder="id" class="form-control input-md" th:value="${user.id}"/>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Text input&ndash;&gt;-->
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-md-4 control-label" for="login">Login</label>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <input id="login" name="login" type="text" placeholder="Login" class="form-control input-md" th:value="${user.login}"/>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; Text input&ndash;&gt;-->
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-md-4 control-label" for="password">Password</label>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <input id="password" name="password" type="text" placeholder="password" class="form-control input-md" th:value="${user.password}"/>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Text input&ndash;&gt;-->
<!--                                        <div class="form-group col-md-8">-->
<!--                                            <label class="col-form-label">Role</label>-->
<!--                                            <select class="form-control" name="role" th:name="role">-->
<!--                                                <option value="user">user</option>-->
<!--                                                <option value="admin">admin</option>-->
<!--                                                <option value="admin, user">admin, user</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>-->
<!--                                    <button type="submit" class="form-group-item btn btn-info">Update user</button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </tr>-->

                </table>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h4>Add new user</h4>
                <div class="container my-5">
                    <h3> Add User</h3>
                    <div class="card">
                        <div class="card-body">
                            <form action="#" th:action="@{/admin}" th:object="${user}" method="post">
                                <div class="row">
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Login</label> <input type="text" name="login" th:name="login" class="form-control" >
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Password</label> <input type="text" name="password"  th:name="password" class="form-control" >
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">Role</label>

                                    <select class="form-control" name="role" th:name="role">
                                        <option value="user">user</option>
                                        <option value="admin">admin</option>
                                        <option value="admin, user">admin, user</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Add User">
                                </div>
                                <div class="form-group col-md-8"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="ajax_methods.js"></script>



</body>
</html>
