<!-- html форма «Создание товара» -->
<form id='create-product-form' action='#' method='post' border='0'>
    <table class='table table-hover table-responsive table-bordered'>

        <tr>
            <td>Название</td>
            <td><input type='text' name='name' class='form-control' required /></td>
        </tr>

        <tr>
            <td>Цена</td>
            <td><input type='number' min='1' name='price' class='form-control' required /></td>
        </tr>

        <tr>
            <td>Описание</td>
            <td><textarea name='description' class='form-control' required></textarea></td>
        </tr>

        <!-- список выбора категории -->
        <tr>
            <td>Категория</td>
            <td>` + categories_options_html + `</td>
        </tr>

        <!-- кнопка отправки формы -->
        <tr>
            <td></td>
            <td>
                <button type='submit' class='btn btn-primary'>
                    <span class='glyphicon glyphicon-plus'></span> Создать товар
                </button>
            </td>
        </tr>

    </table>
</form>`;